[Unit]
Description=cd-sio application
After=network.target

[Service]
Type=simple
User=devops
Group=devops
ExecStart=sudo -H -u devops bash -c 'cd /home/devops/cd-api && /home/devops/.nvm/versions/node/v16.20.2/bin/npm start'
Restart=always
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/devops/cd-sio/
Restart=on-failure

[Install]
WantedBy=multi-user.target
